:root{
    --cor-de-fundo:#f7f4f4;
    --preto:#0a0808;
    --laranja:#f7901a;
    --azul-degrade:linear-gradient(97, 54deg,#002f52 165,37%)
    --fonte-principal:"poppins"
}
  body{
    background-color:var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 700;
    }
  .cabecalho-menu-hamburguer{
  width: 24px;
  height: 24px;
  background-image: url(./img/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  }
.cabecalho{
  background-color: rgba(65, 61, 61, 0.479);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container{
  display: flex;
  align-items: center;
}
.container_imagem{
  padding: 1em;
  margin: 1em;
  width: 5em;
}
.container_botao:checked ~ .lista-menu{
  display:block;
}
.lista-menu{
  display: none;
  position: absolute;
  top: 100%;
  width: 20vw;
}
.lista-menu-titulo,
.lista-menu-item{
  padding: 1em;
  background-color: white;}

.lista-menu-titulo{
  color: black;
  font-weight: 700;
}
.lista-menu_link{
  background: var(--preto);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  background-clip: text;
  text-transform: uppercase;
}
.container_botao{
  display: none;
}
.lista-menu{
  display: none;
}
.banner{
 background-color: rgb(85, 80, 80);
 color: var(--branco);
 font-size: 30px;
 text-align: center;
}
.banner-titulo{
  font-size: 30px;
  font-weight: 700;
}
.banner-texto{
  font-weight: 500;
}
.banner-pesquisa{
  background-color: transparent;
  border: 1px solid var(--cor-de-fundo);
  color: black;
  border-radius: 24px;
  padding: 1em;
  width: 100%;
  text-align: center;
  background: url("./img/lupa.svg") no-repeat;
  background-position: 1em;
  font-size: 20px;
}
.carrossel-titulo{
  color: #f7901a;
  background-color: #f7f4f4;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 .05em 0;
}

.swiper-slide img {
  width: 80%;

}
.card-descriçao{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card-botoes{
  display: flex;
  justify-content: space-between;
}
.botoes{
  display: flex;
}
.card{
  background: #e9e3e3;
  border-radius: 10px;
  width: 80%;
  display: center;
  align-items: center;
}


